@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --color1: #e0f8d0;
    --color2: #88c070;
    --color3: #346856;
    --color4: #081820;
}
h1 {
    margin: auto;
    background-color: var(--color4);
    height: 200px;
    text-transform: lowercase;
    color: var(--color2);
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100px;
}
h2 {
    margin: auto;
    background-color: var(--color1);
    color: var(--color4);
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
}
body {
    margin: auto;
    background-color: var(--color2);
    color: var(--color4);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
}
a {
    color: var(--color3);
    text-decoration: none;
}
img {
    width: 256px;
    height: auto;
    image-rendering: pixelated;
    display: inline-block;
    margin: 10px;
}

.container {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.game {
  display: inline-block;
  border: 1px solid var(--color4);
  padding: 1rem 1rem;
  vertical-align: middle;
}

.button {
    background-color: var(--color4); /* Green */
    border-radius: 8px;
    border: none;
    color: var(--color1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
