@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --color1: #e0f8d0;
    --color2: #88c070;
    --color3: #346856;
    --color4: #081820;
}
h1 {
    margin: auto;
    background-color: var(--color4);
    height: 200px;
    text-transform: lowercase;
    color: var(--color2);
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 100px;
}
h2 {
    margin: auto;
    background-color: var(--color1);
    color: var(--color4);
    font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
}
body {
    margin: auto;
    background-color: var(--color2);
    color: var(--color4);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
}
a {
    color: var(--color3);
    text-decoration: none;
}
img {
    width: 256px;
    height: auto;
    image-rendering: pixelated;
    display: inline-block;
    margin: 10px;
}

.player {
    background-color: var(--color4);
    color: var(--color2);
}

.container {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.game {
  display: inline-block;
  background-color: var(--color4);
  padding: 1rem 1rem;
  vertical-align: middle;
}

.thumbnail {
    width: 256px;
    height: auto;
    display: inline-block;
    border: 1px solid var(--color4);
    padding: 1rem 1rem;
    vertical-align: middle;
}

.thumbnail:hover {
    width: 300px;
    height: auto;
    display: inline-block;
    border: 1px solid var(--color4);
    padding: 1rem 1rem;
    vertical-align: middle;
}

.button {
    background-color: var(--color4); /* Green */
    border-radius: 8px;
    border: none;
    color: var(--color1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid var(--color4);
    background-color: var(--color2);
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
  /* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
  /* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}