:root {
    --color1: #e0f8d0;
    --color2: #88c070;
    --color3: #346856;
    --color4: #081820;
}
head {
    margin: auto;
    background-color: var(--color3);
}
body {
    margin: auto;
    background-color: var(--color1);
    color: var(--color4);
    text-align: center;
}